.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
    white-space: nowrap; /* Set the fixed height of the footer here */
    background-color: rgba(61, 95, 9,0.50);
    z-index: 10;
    @include jackInTheBox;
    @include animated;
    @include faster;
}

.footer-behind {
    z-index: -1;
}
