// find and comment what is being overridden
.css-1dkwqii {
    position: relative !important;
}

.css-ebdd77 {
    position: relative !important;
}

/// fontawesome font color
/*.fas {
    body.dark-theme & {
        color: white !important;
    }
}*/
