.radius-none-l {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.radius-none-r {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.radius-none-t {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.radius-none-b {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.radius-none {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
